<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>control.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>control.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>control.HomeServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AggiungiAlCarrelloServlet</servlet-name>
    <servlet-class>control.AggiungiAlCarrelloServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AggiungiAlCarrelloServlet</servlet-name>
    <url-pattern>/aggiungiCarrello</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AggiornaCarrelloServlet</servlet-name>
    <servlet-class>control.AggiornaCarrelloServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AggiornaCarrelloServlet</servlet-name>
    <url-pattern>/aggiornaCarrello</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SvuotaCarrelloServlet</servlet-name>
    <servlet-class>control.SvuotaCarrelloServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SvuotaCarrelloServlet</servlet-name>
    <url-pattern>/svuotaCarrello</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ConfermaOrdineServlet</servlet-name>
    <servlet-class>control.ConfermaOrdineServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ConfermaOrdineServlet</servlet-name>
    <url-pattern>/confermaOrdine</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>OrdiniUtenteServlet</servlet-name>
    <servlet-class>control.OrdiniUtenteServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>OrdiniUtenteServlet</servlet-name>
    <url-pattern>/ordini</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>InserisciProdottoServlet</servlet-name>
    <servlet-class>control.InserisciProdottoServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>InserisciProdottoServlet</servlet-name>
    <url-pattern>/inserisciProdotto</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>GestioneProdottiServlet</servlet-name>
    <servlet-class>control.GestioneProdottiServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>GestioneProdottiServlet</servlet-name>
    <url-pattern>/gestioneProdotti</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ModificaProdottoServlet</servlet-name>
    <servlet-class>control.ModificaProdottoServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ModificaProdottoServlet</servlet-name>
    <url-pattern>/modificaProdotto</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>EliminaProdottoServlet</servlet-name>
    <servlet-class>control.EliminaProdottoServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>EliminaProdottoServlet</servlet-name>
    <url-pattern>/eliminaProdotto</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AggiornaCarrelloAjaxServlet</servlet-name>
    <servlet-class>control.AggiornaCarrelloAjaxServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AggiornaCarrelloAjaxServlet</servlet-name>
    <url-pattern>/aggiornaCarrelloAjax</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>OrdiniAdminServlet</servlet-name>
    <servlet-class>control.OrdiniAdminServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>OrdiniAdminServlet</servlet-name>
    <url-pattern>/ordiniAdmin</url-pattern>
</servlet-mapping>


  
  <display-name>PluginWave</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>